<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">  <!-- 호환성체크 -->
    <title>Layout07</title>

    <style>
    body {background-color: #999}
    #wrap {width: 1000px; margin: 0 auto;}
    #header {height: 100px; background-color: #111;}
    #nav {height: 100px; background-color: #222;}
    #side {float: left;  width: 300px; height: 700px;background-color: #333;}
    #contents {float: left; width: 700px; height: 700px;background-color: #444;}
    #footer {clear: both; height: 100px; background-color: #555;}
    </style>  
</head>

<body>
    <div id="wrap">
        <header id="header"></header>
        <nav id="nav"></nav>
        <aside id="side"></aside>
        <section id="contents"></section>
        <footer id="footer"></footer>
    </div>
</body>
</html>