@charset "utf-8";

/* layout */
#mNav {display: none; position: absolute; top: 8px; right: 16px;}
#header {border-bottom: 1px solid #ccc;}
#banner {position: relative;}
#movie {background: #f2f2f2;}
#event {}
#opening {background: url(../img/open_bg.jpg) no-repeat center center fixed; background-size: cover;}
#new {}
#help {}
#footer {background: #222; padding: 80px 0;}

/* container */
.container {position: relative;  width: 1280px; margin: 0 auto; /*background: rgba(0,0,0,0.4);*/}

/* row */
.row {padding: 0 28px;}

/* mNav */
.ham {width: 25px; height: 15px; padding: 20px 10px 10px 10px; cursor: pointer;}
.ham span {width: 25px; height: 4px; background: #39106a; display: block; position: relative;}
.ham span:before {content:''; width: 25px; height: 4px; background: #39106a; position: absolute; left: 0; bottom: -7px;}
.ham span:after {content:''; width: 25px; height: 4px; background: #39106a; position: absolute; left: 0; top: -7px;}

/* header */
.header {}
.header .logo {float: left;}
.header .logo .lo1{display: inline-block; margin: 17px 15px 0 0;}
.header .logo .lo2{display: inline-block; vertical-align: 8px;}
.header .menu {float: right;}
.header .menu ul {border-left: 1px solid #ccc;}
.header .menu li {float: left; width: 104px; text-align: center; border-right: 1px solid #ccc;}
.header .menu li a {display: block; padding: 20px 10px 19px; font-size: 18px; color: #333;}
header .menu li a:hover {background: #f1f1f1;}

/* slider */
.slider {}
.slider img {width: 100%; display: block;}

/* banner */
.banner {position: absolute; top: 25px; left: 0; width: 100%;}
.banner .btn {text-align: right;}
.banner .btn a {
	display: inline-block; 
	width: 142px; height: 48px; 
	border: 1px solid #351f66;
	text-align: center; 
	line-height: 48px; 
	font-size: 18px; font-weight: 500;
	margin-left: 13px;}
.banner .btn a.white {background: rgba(255,255,255,0.7); color: #351f66;}
.banner .btn a.purple {background: #351f66; border-color: #9679d2; color: #fff;}

/* movie */
.movie {padding: 80px 0;}
.movie .movie_title {width: 808px; margin: 0 auto 74px;}
.movie .movie_title li {float: left; width: 200px; border: 1px solid #ccc; text-align: center; background: #fff; margin-left: -1px;}
.movie .movie_title li.active a {background: #333; color: #fff;}
.movie .movie_title li a {display: block; padding: 15px 0; font-size: 18px; font-weight: 700; color: #666;}

.movie .movie_chart {overflow: hidden; height: 556px;}
.movie .movie_chart > div {width: 288px; float: left; margin-right: 24px; border: 1px solid #ccc; box-sizing: border-box; background: #fff;}
.movie .movie_chart > div:last-child {margin-right: 0px;}
.movie .movie_chart .poster {position: relative;}
.movie .movie_chart .poster .rank {position: absolute; top: 30px; left: 0; width: 45px; height: 45px; 
	background: #39106a; color: #fff; font-size: 20px; text-align: center; line-height: 45px; font-weight: 700;
	box-shadow: 3px 3px 3px 0 rgba(0,0,0,0.3);}
.movie .movie_chart .infor {padding: 16px; box-sizing: border-box;}
.movie .movie_chart .infor h3 {}
.movie .movie_chart .infor h3 span {width: 25px; height: 25px; border-radius: 50%; display: inline-block; 
	text-align: center; font-size: 12px; line-height: 25px; color:#fff; margin-right: 7px; vertical-align: 5px;}
.movie .movie_chart .infor h3 span.n12 {background: #1996d4; border: 1px solid #0d85c0;}
.movie .movie_chart .infor h3 span.n15 {background: #eba621; border: 1px solid #da9511;}
.movie .movie_chart .infor h3 span.n19 {background: #cd2027; border: 1px solid #bc171e;}
.movie .movie_chart .infor h3 span.nAll {background: #2e9f4a; border: 1px solid #1d8f39;}
.movie .movie_chart .infor h3 strong {font-size: 26px; display: inline-block;}
.movie .movie_chart .infor_btn {overflow: hidden; margin-top: 15px;}
.movie .movie_chart .infor_btn a {float: left; width: 49%; margin-right: 2%; text-align: center; padding: 10px; font-size: 16px; background: #f2f2f2; box-sizing: border-box;;}
.movie .movie_chart .infor_btn a:last-child {margin-right: 0;}

/* event */
.event {padding: 80px 0;}
.event h2 {font-size: 36px; font-weight: 700; margin-bottom: 26px;}
.event .event_box {overflow: hidden;}
.event .event_box .event_left {float: left; width: 66%; margin-right: 2%;}
.event .event_box .event_left .e1 {float: left; width: 100%;}
.event .event_box .event_left .e2 {float: left; width: 50%;}
.event .event_box .event_left .e3 {float: left; width: 50%;}
.event .event_box .event_right {float: left; width: 32%;}

/* opening */
.opening {padding: 100px 0;}
.opening .open {width: 300px; margin: 0 auto 10px auto;}
.opening .open_num {display: block; width: 200px; margin: 0 auto 20px auto;}
.opening p {text-align: center; color: #b79a5b; font-size: 33px; font-weight: 100;}
.opening .open_box {overflow: hidden; padding: 70px 2% 0;}
.opening .open_box > div {float: left; width: 27.3333%; margin: 0 3%; height: 200px; 
	background: rgba(0,0,0,0.6); border: 1px solid #222; box-sizing: border-box; text-align: center; color: #fff; font-weight: 300;}
.opening .open_box > div h3 {background: #3a1a6a; display: inline-block; font-size: 22px; 
	border: 1px solid #6128b7; box-sizing: border-box; padding: 10px 25px; margin-top: -60px;}
.opening .open_box > div em {display: block; font-size: 19px; margin-top: 14px;}
.opening .open_box > div strong {display: block; font-size: 33px; font-weight: 700; margin-top: 8px;}
.opening .open_box > div span {display: block; font-size: 22px; margin-top: 10px; }

/* new */
.new {position: relative; padding: 80px 0;}
.new h2 {font-size: 36px; font-weight: 700; margin-bottom: 26px;}
.new .new_left {margin-right: 416px; height: 560px; background: #ccc url(../img/new01.jpg) center center; background-size: cover; position: relative;}
.new .new_left .play {width: 120px; height: 120px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); cursor: pointer;}
.new .new_left .play svg {}
.new .new_left .play svg .st0 {fill: #fff;}
.new .new_left .play svg .st1 {fill: #fff;}
.new .new_right {position: absolute; top: 160px; right: 0; width: 392px;}

/* help */
.help {overflow: hidden; padding-bottom: 80px;}
.help h3 {font-size: 36px; font-weight: 700; margin-bottom: 20px;}
.help .help_box1 {float: left; width: 32%;margin-right: 2%;}
.help .help_box1 .notice {border: 1px solid #ccc; height: 328px;}
.help .help_box2 {float: left; width: 32%;margin-right: 2%;}
.help .help_box2 .card {border: 1px solid #ccc; height: 328px;}
.help .help_box3 {float: left; width: 32%;}
.help .help_box3 .service {border: 1px solid #ccc; height: 370px;}

/* notice */
.notice {position: relative; padding: 20px;}
.notice ul {overflow: hidden;}
.notice ul li {float: left; text-align: center; background: #f1f1f1;}
.notice ul li.active {background: #fff;}
.notice ul li a {border: 1px solid #ccc; display: block; width: 80px; padding: 10px 20px; margin-right: -1px;}
.notice ul li ul {position: absolute; left: 20px; top: 75px; width: 90%;}
.notice ul li ul li {text-align: left; background: #fff; width: 100%; padding: 14px 0; border-bottom: 1px solid #ccc;}
.notice ul li ul li:last-child {border-bottom: 0;}
.notice ul li ul li dl {}
.notice ul li ul li dl dt {}
.notice ul li ul li dl dt strong {color: #333; position: relative;}
.notice ul li ul li dl dt strong:after {content:''; width: 1px; height: 12px; background: #ccc; position: absolute; top: 5px; right: -10px;}
.notice ul li ul li dl dt em {color: #333; padding-left: 20px;}
.notice ul li ul li dl dd{overflow: hidden; white-space: nowrap; text-overflow: ellipsis; color: #666; padding-top: 5px;}

/* service */
.service {position: relative;}
.service ul {overflow: hidden;}
.service li {float: left; width: 50%; height: 185px; box-sizing: border-box; text-align: center;}
.service li:nth-child(1) {background: url(../img/icon01.png) no-repeat top 25px center; background-size: 110px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.service li:nth-child(2) {background: url(../img/icon02.png) no-repeat top 20px center; background-size: 110px; border-bottom: 1px solid #ccc;}
.service li:nth-child(3) {background: url(../img/icon03.png) no-repeat top 20px center; background-size: 110px; border-right: 1px solid #ccc;}
.service li:nth-child(4) {background: url(../img/icon04.png) no-repeat top 20px center; background-size: 110px;}
.service a {color: #666; font-size: 18px; display: block; padding-top: 148px;}

/* card */
.card {padding: 20px;}
.card > div {position: relative; border: 1px solid #ccc; height: 96px; margin-bottom: 16px;}
.card > div img {width: 110px; border-radius: 6px; position: absolute; top: 13px; left: 10px;}
.card > div h4 {padding: 10px 0 0 135px; font-size: 18px; font-weight: 700;}
.card > div p {padding: 0 12px 0 135px; color: #666; font-size: 14px;}


/* footer_infor */
.footer_infor {}
.footer_infor h2 {padding-bottom: 20px;}
.footer_infor h2 img {width: 156px; display: block;}
.footer_infor ul {padding: 15px 0 20px;}
.footer_infor li {position: relative; display: inline; padding-right: 16px; padding-left: 8px;}
.footer_infor li:first-child {padding-left: 0;}
.footer_infor li:after {content:''; width: 1px; height: 12px; background: #8f8f8f; position: absolute; top: 4px; right: 4px;}
.footer_infor li:last-child:after {width: 0;}
.footer_infor li a {color: #8f8f8f; font-size: 14px;}
.footer_infor address {color: #8f8f8f;}
.footer_infor address p {color: #8f8f8f; font-size: 14px; padding-bottom: 15px;}
.footer_infor address p span {margin-left: 16px; position: relative;}
.footer_infor address p span:before {content:''; width: 1px; height: 12px; background: #8f8f8f; position: absolute; top: 5px; left: -8px;}

/* footer_sns */
.footer_sns {position: absolute; top: -15px; right: 28px; z-index: 100;}
.footer_sns ul {}
.footer_sns li {width: 32px; height: 32px; display: inline-block; background: url(../img/sns_icon.png) no-repeat; margin-left: 7px;}
.footer_sns li.s1 {background-position: 0 -0;}
.footer_sns li.s2 {background-position: 0 -32px;}
.footer_sns li.s3 {background-position: 0 -64px;}
.footer_sns li.s4 {background-position: 0 -96px;}
.footer_sns li.s5 {background-position: 0 -128px;}
.footer_sns li.s1:hover {background-position: -32px 0;}
.footer_sns li.s2:hover {background-position: -32px -32px;}
.footer_sns li.s3:hover {background-position: -32px -64px;}
.footer_sns li.s4:hover {background-position: -32px -96px;}
.footer_sns li.s5:hover {background-position: -32px -128px;}
.footer_sns .tel {text-align: right; padding-top: 8px;}
.footer_sns .tel a {color: #8f8f8f; font-size: 18px;}
.footer_sns .tel a em {color: #fff; padding-left: 8px;}




/* Mediaquery */
@media (max-width: 1290px) {
	.container {width: 100%;}
}

@media (max-width: 1200px) {
	#mNav {display: block;}
	.header .menu {display: none;}
	.header .logo .lo1 {margin: 12px 15px 9px 0;}
	.header .logo .lo2 {display: none;}
}

@media (max-width: 1024px) {
	.help .help_box1 {width: 49%;margin-right: 2%;}
	.help .help_box2 {width: 49%;margin-right: 0%;}
	.help .help_box3 {width: 100%; margin-top: 2%;}
	.help .help_box3 h3 {display: none;}
	.help .help_box3 .service {height: auto;}
	.service li {width: 25%; height: auto; padding-bottom: 20px;}
	.service li:nth-child(1) {border: 0; background: url(../img/icon01.png) no-repeat top 40px center / 90px;}
	.service li:nth-child(2) {border: 0; background: url(../img/icon02.png) no-repeat top 35px center / 90px;}
	.service li:nth-child(3) {border: 0; background: url(../img/icon03.png) no-repeat top 35px center / 90px;}
	.service li:nth-child(4) {background: url(../img/icon04.png) no-repeat top 35px center / 90px;}
	.service a {padding-top: 130px; padding-bottom: 18px;}
}


@media (max-width: 900px) {
	#movie {background: #d9d7e0; padding: 16px;}
	#movie .row {background: #fff; padding: 32px;}
	.movie {padding: 0;}
	.movie .ir_so {position: static; width: auto; height: auto; overflow: visible; text-indent: 0; line-height: normal; font-size: 18px; margin-bottom: 13px; font-weight: 700;}
	.movie .movie_title {width: auto; margin-bottom: 20px;}
	.movie .movie_title li {width: auto; border: 0; margin-left: 0;}
	.movie .movie_title li a {padding: 0; font-size: 14px; color: #999; margin-right: 20px; font-weight: 500;}
	.movie .movie_title li.active a {background: none; color: #333; border-bottom: 2px solid #333;}

	#event {background: #d9d7e0; padding: 0 16px 16px 16px;}
	#event .row {background: #fff; padding: 32px;}
	.event {padding: 0;}
	.event h2 {font-size: 18px; margin-bottom: 13px;}
	.event .event_box .event_right {display: none;}
	.event .event_box .event_left {width: 100%; margin-right: 0;}

	.opening {padding: 40px 0;}
	.opening .open {width: 200px;}
	.opening .open_num {width: 100px;}
	.opening p {font-size: 18px;}
	.opening .open_box {display: none;}

	#new {background: #d9d7e0; padding: 16px;}
	#new .row {background: #fff; padding: 32px;}
	.new {padding: 0;}
	.new h2 {font-size: 18px; margin-bottom: 13px;}
	.new .new_left {margin-right: 0; height: 250px;}
	.new .new_right {display: none;}
	.new .new_left .play {width: 80px; height: 80px;}

	#help {background: #d9d7e0; padding: 0 16px 16px 16px;}
	#help .row {padding: 0;}
	.help {padding-bottom: 0;}
	.help .help_box1 {width: 100%; margin-right: 0; padding: 32px; background: #fff; box-sizing: border-box; margin-bottom: 16px;}
	.help .help_box1 h3 {font-size: 18px; margin-bottom: 13px;}
	.help .help_box2 {width: 100%; margin-right: 0; padding: 32px; background: #fff; box-sizing: border-box;}
	.help .help_box2 h3 {font-size: 18px; margin-bottom: 13px;}
	.help .help_box3 {width: 100%; padding: 32px; background: #fff; box-sizing: border-box; margin-top: 16px;}
	.help .help_box3 h3 {display: block; font-size: 18px; margin-bottom: 13px;}

	#footer {padding: 0}
	
	.footer_infor {text-align: center; padding: 5% 0;}
	.footer_infor h2 img {margin: 0 auto;}
	.footer_infor li {white-space: nowrap;}
	.footer_infor address br {display: none;}
	
	#footer_sns {background: #333; padding: 0 0 12px 0;}
	.footer_sns {position: static; text-align: center;}
	.footer_sns .tel {display: none;}
}

@media (max-width: 600px) {
	.row {padding: 0 16px;}

	#header {position: fixed; left: 0; top: 0; width: 100%; z-index: 1000; background: #fff;}
	.header .logo {width: 130px;}

	#mNav {top: 2px; right: 8px;}

	#movie {padding: 8px;}
	#movie .row {padding: 16px;}

	.slider {margin-top: 50px;}

	.banner .btn {display: none;}

	#event {padding: 0 8px 8px 8px;}
	#event .row {padding: 16px;}

	#new {padding: 8px;}
	#new .row {padding: 16px;}

	#help {padding: 0 8px 8px 8px;}
	.help .help_box1 {padding: 16px; margin-bottom: 8px;}
	.help .help_box2 {padding: 16px;}
	.help .help_box3 {padding: 16px; margin-top: 8px;}

	.service li:nth-child(1) {border: 0; background: url(../img/icon01.png) no-repeat top 40px center / 60px;}
	.service li:nth-child(2) {border: 0; background: url(../img/icon02.png) no-repeat top 40px center / 60px;}
	.service li:nth-child(3) {border: 0; background: url(../img/icon03.png) no-repeat top 40px center / 60px;}
	.service li:nth-child(4) {background: url(../img/icon04.png) no-repeat top 40px center / 60px;}
	.service a {padding-top: 105px; padding-bottom: 18px; font-size: 14px;}
}